[
  {rabbit, [
    {default_vhost, <<"/">>},
    {default_user, <<"admin">>},
    {default_pass, <<"password">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {default_user_tags, [administrator]}
  ]},
  {rabbitmq_stomp, [
    {tcp_listeners, [
      {"0.0.0.0", 61613}]
    },
    {default_user, [
      {login, "admin"},
      {passcode, "password"}]
    },
    {loopback_users, []}
  ]}
].
